<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DOCEMENT_FILE</key>
	<array>
		<string>SampleFile.txt</string>
	</array>
	<key>IMAGES_FILE</key>
	<array>
		<string>Sample.png</string>
	</array>
</dict>
</plist>
